In [123]:
import pandas as pd
import requests
import sqlite3
from io import StringIO
import pprint

In [124]:
db = "dst.db"
con = sqlite3.connect(db)

In [125]:
q = """
SELECT * FROM tables
"""
df = pd.read_sql_query(q, con).set_index("tableid")

In [126]:
df.head(2)

,tablename,unit,updated,firstPeriod,latestPeriod,active
tableid,,,,,,
FOLK1A,Folketal den 1. i kvartalet,Antal,2023-02-10T08:00:00,2008K1,2023K1,1
FOLK1AM,Folketal den 1. i måneden,Antal,2023-03-10T08:00:00,2021M10,2023M02,1

In [143]:
class Variable:

    def __init__(self, id_, vals):
        self.id_ = id_
        self.rå_vals = vals
        self.create_vals()
        self.chosen = []
        self.repr_dict = {}
        self._antal_var = len(self.rå_vals)
        self.update_repr()

    def update_repr(self):
        self._valgte = len(self.chosen)

    def create_vals(self):
        df = (
            pd.DataFrame(self.rå_vals)
            .rename(columns={"id": "id_var"})
        )
        self.vals = df

    def set_vals(self, df):
        self.chosen = df.id_var.to_list()
        self.update_repr()

    def create_query(self):
        return {
            "code": self.id_,
            "values": self.chosen
        }

    def __repr__(self):
        return f"<Var: {self.id_}, valgt: {self._valgte}, i alt: {self._antal_var}>"


class DataSelector:
    def __init__(self, tablename):
        url = "https://api.statbank.dk/v1/tableinfo"
        self.tablename = tablename
        payload = {
           "table": self.tablename,
           "format": "JSON"
        }
        self.rå_metadata = requests.post(url, payload).json()
        self.make_tables()
    
    def make_tables(self):
        res = {}
        for var in self.rå_metadata["variables"]:
            id_  = var["id"]
            vals = var["values"]
            res[id_] = Variable(id_, vals)
        self.vars = res
        
    def create_query(self):
        vars = [x.create_query() for x in self.vars.values()]
        vars = [x for x in vars if len(x["values"]) != 0]
        payload = {
           "table": self.tablename,
           "format": "CSV"
        }
        if vars != []:
            payload["variables"] = vars
        return base
    
    def get_data(self):
        url = "https://api.statbank.dk/v1/data"
        headers = {'Content-Type': 'application/json'}
        resp = requests.post(url, self.create_query(), headers=headers)
        print(resp.text)
        df = pd.read_csv(
            StringIO(
                resp.text
            ),
            sep=";"
        )
        return df
    
    def __repr__(self):
        pprint.pprint(self.vars)
        return ""
    
    def __getitem__(self, key):
        return self.vars[key]
    
    def __setitem__(self, key, new_val):
        if new_val is True:
            self.vars[key].set_vals(self.vars[key].vals)
        else:
            self.vars[key].set_vals(new_val)
        
m = DataSelector("FOLK2")

In [144]:
m.get_data()

{"errorTypeCode":"REQUEST-EMPTY","message":"Medsend gyldigt JSON-objekt når der postes. / Supply valid JSON-object when posting."}

Empty DataFrame
Columns: [{"errorTypeCode":"REQUEST-EMPTY","message":"Medsend gyldigt JSON-objekt når der postes. / Supply valid JSON-object when posting."}]
Index: []

In [145]:
m.create_query()

{'table': 'FOLK2', 'format': 'CSV', 'variables': []}

In [131]:

url = "https://api.statbank.dk/v1/data"
resp = requests.post(url, m.create_query())
resp.text

'{"errorTypeCode":"SYSTEM-100","message":"Der er opstået en fejl."}'